<template>
  <span class="profile" id="userBadge">
    <a class="view-profile control" href="#!/profile" title="View/edit user profile">
      <div class="avatar-frame">
        <img class="avatar" :src="state.current.avatar" :alt="`Avatar of ${state.current.name}`"/>
      </div>
      <!-- <img class="avatar-frame" src="@/../img/ava-frame.png" :alt="`Avatar of ${state.current.name}`"/> -->
      <span class="name">{{ state.current.name }}</span>
    </a>

    <a
      :title="`Log ${state.current.name} out`"
      @click.prevent="logout"
      class="logout control"
      data-cy="btnLogOut"
      href
      role="button"
    >
      <i class="fa fa-sign-out"></i>
    </a>
  </span>
</template>

<script>
import { userStore } from '@/stores'
import { event } from '@/utils'

export default {
  data: () => ({
    state: userStore.state
  }),

  methods: {
    logout: () => event.emit(event.$names.LOG_OUT)
  }
}
</script>

<style lang="scss">
@import "~#/partials/_vars.scss";
@import "~#/partials/_mixins.scss";

#userBadge {
  @include vertical-center();
  justify-content: flex-end;
  flex:auto;
  text-align: right;
  height: 100%;
  position: relative;
  padding: 0 5vw;
  .avatar {
    // position: absolute;
    // max-height: 30px;
    // max-width: 30px;
    // margin-right: 90px;
    object-fit: contain;
    width: 30px;
    height: 30px;
    border-radius: 20px;
  }
  .avatar-frame {
    // position: absolute;
    // margin-right: 90px;
    height: 30px;
    width: 30px;
    margin-right: 12px;
    text-align: center;
    border-radius: 20px;
    background: #fff;
  }

  .view-profile {
    height: 100%;
    @include vertical-center();
  }

  .logout {
    height: 100%;
    padding: 0 16px;
    @include vertical-center();
  }

  @media only screen and (max-width : 667px) {
    flex: 0 0 96px;
    margin-right: 0;
    padding-right: 0;
    align-content: stretch;

    .name {
      display: none;
    }

    .view-profile, .logout {
      flex: 0 0 40px;
      font-size: 1.4rem;
      margin-right: 0;

      @include vertical-center();
    }
  }
}
</style>
