<template>
  
  <form @submit.prevent="submit" data-cy="siginForm">
    <!-- <sound-bar v-if="loading"/> -->
    <div class="signin"> Đăng ký tài khoản mới </div>
     <div> Name </div>
    <input v-model="name" type="text" placeholder="Your name you want to display" autofocus required>
    <br/>
    <div> Email </div>
    <input v-model="email" type="email" placeholder="Email Address" autofocus required>
    <br/>
    <div> Mật khẩu </div>
    <input v-model="password" type="password" placeholder="Password" required>
    <br/>
    <div> Nhập lại mật khẩu </div>
    <input v-model="password" type="password" placeholder="Password" required>
    <btn type="submit">Sign Up</btn>
  </form>
  <!-- <div>ALOO</div> -->
</template>

<script>
import axios from 'axios'
import { userStore } from '@/stores'
import { ls } from '@/services'

export default {
  components: {
    Btn: () => import('@/components/ui/btn')
  },

  data: () => ({
    url: '',
    email: '',
    password: '',
    failed: false,
    // isDesktopApp: KOEL_ENV === 'app'
  }),

  methods: {
    async submit () {
      try {
          // await userStore.store(this.name, this.email, this.password)
          await userStore.signin(this.name, this.email, this.password)
          this.failed = false
          // this.loading = true
         
          // this.loading = false
          // Reset the password so that the next login will have this field empty.
          this.password = ''

          this.$emit('loggedin')
        } catch (err) {
          alert(err)
          this.failed = true
          window.setTimeout(() => (this.failed = false), 2000)
        }
    },
  },

  mounted () {
    if (KOEL_ENV === 'app') {
      this.url = window.BASE_URL = ls.get('koelHost')
      this.email = ls.get('lastLoginEmail')
    }
  }
}
</script>

<style lang="scss" scoped>
/**
 * I like to move it move it
 * I like to move it move it
 * I like to move it move it
 * You like to - move it!
 */
@keyframes shake {
  8%, 41% {
    -webkit-transform: translateX(-10px);
  }
  25%, 58% {
    -webkit-transform: translateX(10px);
  }
  75% {
    -webkit-transform: translateX(-5px);
  }
  92% {
    -webkit-transform: translateX(5px);
  }
  0%, 100% {
    -webkit-transform: translateX(0);
  }
}

form {
  width: 280px;
  padding: 1.8rem;
  background: rgba(255, 255, 255, .08);
  border-radius: .6rem;
  border: 1px solid #333;
  transition: .5s;

  &.error {
    border-color: #8e4947;
    animation: shake .5s;
  }
  .signin{
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  .logo {
    text-align: center;
  }

  @media only screen and (max-width : 414px) {
    border: 0;
    background: transparent;
  }
}

input {
  display: block;
  margin-top: 12px;
  border: 0;
  background: #fff;
  outline: none;
  width: 100%;
}

button {
  display: block;
  margin-top: 12px;
  width: 100%;
}
</style>
